.page-wrapper {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 
  COMMON STYLES
*/

.full-width {
  width: 100%;
}

/* buttons */

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 3px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  cursor: pointer;
}
.bg-pr {
  background-color: #000;
  color: #f0ffff;
}

.bg-sec {
  background-color: #dba100;
  color: #000;
}

.btn.active,
.btn:hover {
  background: #dba100;
  color: #000;
}

/* margins*/
.mt-1 {
  margin-top: 10px !important;
}

/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
